.tableContainer {
    margin: 20px auto;
    max-width: 100%; /* Ограничиваем контейнер */
    padding: 20px;
    text-align: center;
    overflow-x: auto; /* Добавляем горизонтальную прокрутку */
    -webkit-overflow-scrolling: touch; /* Плавная прокрутка на мобильных устройствах */
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.headerCell, .cell {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.headerCell {
    background-color: #f2f2f2;
    font-weight: bold;
}

.cell {
    background-color: #ffffff;
}

.button {
    margin: 5px 5px;
    padding: 5px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.button:active {
    background-color: #003f7f;
}

/* Медиазапросы для оптимизации текста и кнопок на мобильных устройствах */
@media (max-width: 768px) {
    .headerCell, .cell {
        font-size: 12px;
        padding: 8px;
    }

    .button {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .headerCell, .cell {
        font-size: 10px;
        padding: 6px;
    }

    .button {
        padding: 4px 8px;
        font-size: 10px;
    }
}